asgiref==3.3.1
beautifulsoup4==4.9.3
cffi==1.14.3
Django==3.0.14
django-bootstrap4==2.3.1
django-braces==1.14.0
misaka==2.1.1
pycparser==2.20
pytz==2020.4
six==1.15.0
soupsieve==2.0.1
sqlparse==0.4.1
